<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-4.2.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
            http://www.springframework.org/schema/tx/
            http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">


	<context:component-scan base-package="com.movitech.service" />
	<context:component-scan base-package="com.movitech.aop" />
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>

	<bean id="simpleAop" class="com.movitech.aop.SimpleAOP"></bean>


	<aop:config>
		<aop:aspect id="aspect1" ref="simpleAop" order="1000">
			<aop:pointcut expression="execution(* com.movitech.service.*.*(..))" id="pointCut" />
			<aop:before method="beformDLL" pointcut-ref="pointCut" />
			<aop:after method="afterDLL" pointcut-ref="pointCut" />
		</aop:aspect>
	</aop:config>
</beans>